{{- /*  Initialize. */}}
{{- $managerRole := "" }}

{{- /* Get params. */}}
{{- with (.Get 0) }}
  {{- $managerRole = . }}
{{- else }}
  {{- errorf "The %q shortcode requires a single positional argument for manger-role."}}
{{- end }}

{{ $teamDict := partials.IncludeCached "data/team-by-slug" page }}

{{ $manager := dict }}
{{ range $k, $v := $teamDict }}
  {{ if eq .role $managerRole }}
    {{ $manager = . }}
    {{ break }}
  {{ end }}
{{ end }}

<table>
    <thead>
        <th>Name</th>
        <th>Role</th>
    </thead>
    <tbody>
        {{- with $manager }}
        <tr>
          <td>{{ partial "member-by-name" .name }}</td>
          <td>{{ .role }}</td>
        </tr>
        {{ end }}
        {{ range $k, $v := $teamDict }}
          {{ if eq .reports_to $manager.slug }}
          <tr>
              <td>{{ partial "member-by-name" .name }}</td>
              <td>{{ .role | safe.HTML }}</td>
          </tr>
          {{ end }}
        {{ end }}
    </tbody>
</table>

<style>
    img.avatar {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid lightgray;
    aspect-ratio: auto 90 / 90;
    overflow-clip-margin: content-box;
    }
</style>
